<nz-header>
  <nav>
    <ul nz-menu [nzMode]="'horizontal'">
      <li nz-menu-item routerLinkActive="ant-menu-item-selected" [routerLinkActiveOptions]="{exact: true}" class="header__logo"><a routerLink="" >ZooStore</a></li>
      <li nz-menu-item routerLinkActive="ant-menu-item-selected" [routerLinkActiveOptions]="{exact: true}"><a routerLink="catalog">Каталог</a></li>
      <li nz-menu-item routerLinkActive="ant-menu-item-selected" [routerLinkActiveOptions]="{exact: true}"><a routerLink="order-list">Список заказов</a></li>
    </ul>
  </nav>
</nz-header>
