<section class="catalog">
  <h2 class="catalog__title">Каталог</h2>
  <div class="catalog__control">
    <button nz-button nzType="default" (click)="showModal()">Добавить животное</button>
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" class="catalog__search">
      <input type="text" nz-input placeholder="Найти животное" [(ngModel)]="searchInputValue"/>
      <ng-template #suffixIconButton>
        <button nz-button nzType="primary"><i nz-icon nzType="search"></i></button>
      </ng-template>
    </nz-input-group>
  </div>
  <div class="catalog__tabs">
    <nz-tabset [nzCentered]="true" [nzTabPosition]="'left'">
      <nz-tab nzTitle="В продаже">
        <app-catalog-list [pets]="availablePets" [searchInputValue]="searchInputValue" (onOrder)="openOrderModal($event)" (onDelete)="openDeleteModal($event)" (onChange)="openChangeModal($event)"></app-catalog-list>
      </nz-tab>
      <nz-tab nzTitle="В ожидании">
        <app-catalog-list [pets]="pendingPets" [searchInputValue]="searchInputValue" (onOrder)="openOrderModal($event)" (onDelete)="openDeleteModal($event)" (onChange)="openChangeModal($event)"></app-catalog-list>
      </nz-tab>
      <nz-tab nzTitle="Продано">
        <app-catalog-list [isNotSold]="isNotSold" [pets]="soldPets" [searchInputValue]="searchInputValue" (onOrder)="openOrderModal($event)" (onDelete)="openDeleteModal($event)" (onChange)="openChangeModal($event)"></app-catalog-list>
      </nz-tab>
    </nz-tabset>
  </div>
  <app-add-pet-modal [isModalOpen]="isAddModalOpen" [selectValues]="selectValues" (post)="closeAfterDoneModal()" (close)="closeModal()"></app-add-pet-modal>
  <app-change-pet-modal [isModalOpen]="isChangeModalOpen" [changingPet]="changingPet" (post)="closeAfterDoneModal()" (close)="closeModal()"></app-change-pet-modal>
  <app-order-pet-modal [isModalOpen]="isOrderModalOpen" [orderingPet]="orderingPet" (onClose)="closeModal()"></app-order-pet-modal>
</section>
